
.play{
    background-color: #27ebe5;
    font-size: 12rem;
    padding: 7rem 5rem;
    border-radius: 80px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: #eb2764 solid 30px;
}
